.create_button{
    background-color: green !important;
}

table{
    margin-top: 100px;
    thead{
        tr{
            color: blue;
            background-color: white;
        }
    }
    tbody{
        tr{
            background-color: blueviolet;
        }
    }
}